@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #252525;
    background-image: url('img/endless-constellation.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    align-items: center;
}

.box {
    margin: 0px auto;
    padding: 20px;
    width: 60%;
    height: 100%;
    border-radius: 20px;
    box-shadow: #e7e7e779 2px 2px 2px;
    background-color: #42424248; 
}

.box:hover {
    background-color: #4242426b;
}

.welcome {
    font-size: 3rem;
    color: #e4e4e4;
    font-family: 'Heebo', sans-serif;
    animation: rainbow 5s infinite;
}

.logo {
    width: 200px;
}

.link {
    display: block;
    font-size: 2rem;
    color: #e4e4e4;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.link:hover {
    font-size: 2.1rem;
    color: #baabab;
}

@keyframes rainbow {
    0% {color: #e4e4e4;}
    50% {color: #ababab;}
    100% {color: #595959;}
}
